.header {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menu {
    width: 100%;
}

.menu-list {
    display: flex;
    padding: 0px;
    justify-content: center;
}

.menu-item {
    list-style: none;
    padding: 0px 2rem;
}

.menu-link {
    color: #808080;
    /* margin-left: 1.25rem; */
    text-decoration: none;
    text-transform: lowercase;
}

.menu-link:hover {
    text-decoration: underline;
}